In [1]:
import tushare as tu
import pandas as pd
import xlrd

In [25]:
dd=tu.get_today_ticks('600031')
dd

        time  price    vol type
0     091502  28.52    452    -
1     092038  28.51   3453    -
2     092050  28.50   3558    -
3     092059  28.48   3698    -
4     092108  28.47   3768    -
...      ...    ...    ...  ...
4772  145651  28.13    731   买入
4773  145654  28.15    145   卖出
4774  145657  28.15    448   卖出
4775  145701  28.14    170   买入
4776  150059  28.13  19680   买入

[4777 rows x 4 columns]

In [26]:
dd_clear=dd[dd['time']>='093030']
dd_clear

        time  price    vol type
44    093032  28.00   2461   买入
45    093035  28.00   2828   买入
46    093038  28.00   1902   买入
47    093041  27.99   1642   买入
48    093044  27.98   1794   买入
...      ...    ...    ...  ...
4772  145651  28.13    731   买入
4773  145654  28.15    145   卖出
4774  145657  28.15    448   卖出
4775  145701  28.14    170   买入
4776  150059  28.13  19680   买入

[4733 rows x 4 columns]

In [27]:
dd_clear_buy=dd_clear[dd_clear['type']=='买入']
dd_clear_buy['total']=dd_clear_buy['price']*dd_clear_buy['vol']*100

<ipython-input-27-4f67fd5add16>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dd_clear_buy['total']=dd_clear_buy['price']*dd_clear_buy['vol']*100

In [28]:
dd_clear_buy['total'].sum()

2836603986.0

In [29]:
dd_clear_buy['total'].sum()

2836603986.0

In [30]:
dd_clear_sale=dd_clear[dd_clear['type']=='卖出']
dd_clear_sale['total']=dd_clear_sale['price']*dd_clear_sale['vol']*100
dd_clear_sale['total'].sum()

<ipython-input-30-8332e6e35c5f>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dd_clear_sale['total']=dd_clear_sale['price']*dd_clear_sale['vol']*100

2501358046.0

In [31]:

print(dd_clear_buy['total'].sum()-dd_clear_sale['total'].sum())
print(dd_clear_buy['total'].sum()+dd_clear_sale['total'].sum())

335245940.0
5337962032.0

In [116]:
def analyze():
    datas=pd.read_excel(r'F:\gu\20210907\000333-0907.xlsx',sheet_name=0,names=['time','price','num','other','type'],parse_dates=[0])
    row,col=datas.shape
    # print(row,col)
    # print(datas)
    datas=datas[3:row-1]
    # print(datas)
    datas=datas[datas['time']>='09:30:00']
    # print(datas.shape)
    datas['total']=datas['price']*datas['num']
    buy=datas[datas['type']=='B']['total'].sum()
    # print('buy:',buy/1000000)
    sale=datas[datas['type']=='S']['total'].sum()
    print('sale:',sale/1000000)
    print('substruction:',(buy-sale)/1000000)
    print('total:',(buy+sale)/1000000)
    #分析大单的情况:
    big=(datas[datas['num']>=70])
    print(big.shape)
    big_buy=big[big['type']=='B']
    big_sale=big[big['type']=='S']
    buy_total=big_buy['price']*big_buy['num']
    big_buy.insert(5,'SB_total',buy_total)
    sale_total=big_sale['price']*big_sale['num']
    big_sale.insert(5,'SB_total',sale_total)
    print('大买单： %s      \n大买单： %s' %(str(big_buy['SB_total'].sum()/1000000) ,str(big_sale['SB_total'].sum()/1000000)))
    distance_volumn=(big_buy['SB_total'].sum())-(big_sale['SB_total'].sum())
    print('大单的差量为：%f 亿'  %(distance_volumn/1000000))

In [117]:
analyze()

(4724, 5)
buy: 12.312395140000012
sale: 15.31920652999998
substruction: -3.006811389999967
total: 27.63160166999999
(1771, 6)
大买单： 9.433173490000016
大买单： 11.494923380000007
大单的差量为：-2.061750 亿

In [98]:
datas=pd.read_excel(r'F:\gu\20210903\xy.xlsx',sheet_name=0,names=['time','price','num','other','type'],parse_dates=[0])
row,col=datas.shape
datas=datas[3:row-1]
big=(datas[datas['num']>=70])
big_buy=big[big['type']=='S']
big_sale=big[big['type']=='B']
buy_total=big_buy['price']*big_buy['num']
big_buy.insert(5,'total',buy_total)
sale_total=big_sale['price']*big_sale['num']
big_sale.insert(5,'total',sale_total)
print('大买单： %s      \n大买单： %s' %(str(big_buy['total'].sum()/1000000) ,str(big_sale['total'].sum()/1000000)))
distance_volumn=(big_buy['total'].sum())-(big_sale['total'].sum())
print('大单的差量为：%f 亿'  %(distance_volumn/1000000))

大买单： 1.6483783099999991
大买单： 1.8863967300000017
-0.23801842000000273
大单的差量为：-0.238018 亿

In [87]:
datas

          time  price   num other type
3     09:25:00   9.72  3058     0  NaN
4     09:30:00   9.68   296     0    S
5     09:30:00   9.73  1439     0    B
6     09:30:00   9.73   826     0    S
7     09:30:00   9.71  1807     0    S
...        ...    ...   ...   ...  ...
1521  10:47:00  10.04    42     0    S
1522  10:47:00  10.05    17     0    B
1523  10:47:00  10.05    28     0    B
1524  10:47:00  10.04    57     0    S
1525  10:47:00  10.05   196     0    B

[1523 rows x 5 columns]

In [84]:
row,col=datas_nan.shape
print(row,col)

124 5

In [52]:
print(covern_money(str(24864026.900000043)))

24亿864026.9

In [51]:
def covern_money(str_money):
    index=str_money.find('.')
    # print(index)
    if(index>6):
        return str_money[:index-6]+'亿'+str_money[index-6:index+2]
    else:
        return '0.'+str_money[:index]+'亿'

In [71]:
import numpy as np
df = pd.DataFrame(np.random.randint(1,10,(4,5)),columns=["A","B","C","D","E"])
print(df)
df['F']=0
for i in range(df.shape[0]):
    df['F']=df['A']*df['B']
print(df)

   A  B  C  D  E
0  4  6  5  9  6
1  8  1  7  7  9
2  2  4  3  6  3
3  8  1  1  5  9
   A  B  C  D  E   F
0  4  6  5  9  6  24
1  8  1  7  7  9   8
2  2  4  3  6  3   8
3  8  1  1  5  9   8