In [134]:
import os
import pandas as pd
import datetime

In [25]:
dd=tu.get_today_ticks('600031')
dd

        time  price    vol type
0     091502  28.52    452    -
1     092038  28.51   3453    -
2     092050  28.50   3558    -
3     092059  28.48   3698    -
4     092108  28.47   3768    -
...      ...    ...    ...  ...
4772  145651  28.13    731   买入
4773  145654  28.15    145   卖出
4774  145657  28.15    448   卖出
4775  145701  28.14    170   买入
4776  150059  28.13  19680   买入

[4777 rows x 4 columns]

In [26]:
dd_clear=dd[dd['time']>='093030']
dd_clear

        time  price    vol type
44    093032  28.00   2461   买入
45    093035  28.00   2828   买入
46    093038  28.00   1902   买入
47    093041  27.99   1642   买入
48    093044  27.98   1794   买入
...      ...    ...    ...  ...
4772  145651  28.13    731   买入
4773  145654  28.15    145   卖出
4774  145657  28.15    448   卖出
4775  145701  28.14    170   买入
4776  150059  28.13  19680   买入

[4733 rows x 4 columns]

In [27]:
dd_clear_buy=dd_clear[dd_clear['type']=='买入']
dd_clear_buy['total']=dd_clear_buy['price']*dd_clear_buy['vol']*100

<ipython-input-27-4f67fd5add16>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dd_clear_buy['total']=dd_clear_buy['price']*dd_clear_buy['vol']*100

In [28]:
dd_clear_buy['total'].sum()

2836603986.0

In [29]:
dd_clear_buy['total'].sum()

2836603986.0

In [30]:
dd_clear_sale=dd_clear[dd_clear['type']=='卖出']
dd_clear_sale['total']=dd_clear_sale['price']*dd_clear_sale['vol']*100
dd_clear_sale['total'].sum()

<ipython-input-30-8332e6e35c5f>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dd_clear_sale['total']=dd_clear_sale['price']*dd_clear_sale['vol']*100

2501358046.0

In [31]:

print(dd_clear_buy['total'].sum()-dd_clear_sale['total'].sum())
print(dd_clear_buy['total'].sum()+dd_clear_sale['total'].sum())

335245940.0
5337962032.0

In [176]:
def analyze():
    param={'600031':70,'000333':28,'603185':7,'601995':34,'600737':200,'000876':200,'300869':52}
    for a,b,c in os.walk(r'F:\gu\202109\transform'):
        for i in c:
            file_name=i[0:6]
            month=int(i[6:8])
            day=int(i[8:10])
            print('开始处理：%s   %d月%d日的逐笔成交数据！' %(file_name,month,day))
            # print(file_name,'----',month,'----',day)
            file_str=os.path.join(a,i)
            # print(file_str)
            datas=pd.read_excel(file_str,sheet_name=0,names=['time','price','num','other','type'],parse_dates=[0])
            row,col=datas.shape
            # print(row,col)
            # print(datas)
            datas=datas[3:row-1]
            # print(datas)
            datas=datas[datas['time']>='09:30:00']
            # print(datas.shape)
            datas['total']=datas['price']*datas['num']
            buy=datas[datas['type']=='B']['total'].sum()
            buy_totall=round(buy/1000000,5)
            sale=datas[datas['type']=='S']['total'].sum()
            sale_totall=round(sale/1000000,5)
            total_add=buy_totall+sale_totall
            total_sub=buy_totall-sale_totall
            print('总买: %f \n总卖: %f\n总量: %f \n总差额: %f \n'  %(buy_totall,sale_totall,total_add,total_sub))
            #分析大单的情况:
            print('%s------%d' %(file_name,param[file_name]))
            big=datas[datas['num']>=param[file_name]]
            # print(big.shape)
            big_buy=big[big['type']=='B']
            big_sale=big[big['type']=='S']
            buy_total=big_buy['price']*big_buy['num']
            big_buy.insert(5,'SB_total',buy_total)
            sale_total=big_sale['price']*big_sale['num']
            big_sale.insert(5,'SB_total',sale_total)
            big_buy_total=big_buy['SB_total'].sum()/1000000
            big_sale_total=big_sale['SB_total'].sum()/1000000
            big_total_add=big_buy_total+big_sale_total
            big_total_sub=big_buy_total-big_sale_total
            #看看中间单的情况
            NaN=datas[datas['type'].isna()]
            # print(NaN)
            # NaN_total=NaN['price']*NaN['num']
            # NaN.insert(5,'total',NaN_total)
            NaN_total_sum=NaN['total'].sum()/1000000
            print('大买: %f \n大卖: %f\n大总量: %f \n大差额: %f \n'  %(big_buy_total,big_sale_total,big_total_add,big_total_sub))
            dat=pd.DataFrame([[datetime.date(2021,month,day),buy_totall,sale_totall,total_add,total_sub,big_buy_total,big_sale_total,big_total_add,big_total_sub,NaN_total_sum]],columns=['日期','总买','总卖','总量','总差额','大买','大卖','大总量','大差额','NaN'])
            # print(dat)
            # dat.to_excel(r'F:\gu\total\600031.xlsx')
            file_name=file_name+'.xlsx'
            file_path=os.path.join('F:\\gu\\total\\',file_name)
            # print(file_path)
            if(os.path.exists(file_path)):
                datas=pd.read_excel(file_path,sheet_name=0)
                datas=datas.append(dat)
                datas.to_excel(file_path,index=None)
            else:
                dat.to_excel(file_path,index=None)
            print('处理：%s   %d月%d日的逐笔成交数据完毕！！！' %(file_name,month,day))

In [177]:
analyze()

开始处理：000333   9月7日的逐笔成交数据！
总买: 12.312400
总卖: 15.319210
总量: 27.631610
总差额: -3.006810

000333------28
大买: 11.693950
大卖: 14.456834
大总量: 26.150784
大差额: -2.762883

           日期       总买        总卖        总量      总差额        大买         大卖  \
0  2021-09-07  12.3124  15.31921  27.63161 -3.00681  11.69395  14.456834

         大总量       大差额      NaN
0  26.150784 -2.762883  0.76169
F:\gu\total\000333.xlsx
处理：000333.xlsx   9月7日的逐笔成交数据完毕！！！
开始处理：000333   9月8日的逐笔成交数据！
总买: 9.262030
总卖: 9.616970
总量: 18.879000
总差额: -0.354940

000333------28
大买: 8.125090
大卖: 8.723037
大总量: 16.848127
大差额: -0.597947

           日期       总买       总卖      总量      总差额       大买        大卖  \
0  2021-09-08  9.26203  9.61697  18.879 -0.35494  8.12509  8.723037

         大总量       大差额     NaN
0  16.848127 -0.597947  0.4622
F:\gu\total\000333.xlsx
处理：000333.xlsx   9月8日的逐笔成交数据完毕！！！
开始处理：000333   9月9日的逐笔成交数据！
总买: 7.257860
总卖: 8.353440
总量: 15.611300
总差额: -1.095580

000333------28
大买: 6.148481
大卖: 7.201628
大总量: 13.350110
大差额: -1.053147

           日期       总买       总卖       总量      总差额        大买        大卖  \
0  2021-09-09  7.25786  8.35344  15.6113 -1.09558  6.148481  7.201628

        大总量       大差额       NaN
0  13.35011 -1.053147  0.425038
F:\gu\total\000333.xlsx
处理：000333.xlsx   9月9日的逐笔成交数据完毕！！！
开始处理：000876   9月7日的逐笔成交数据！
总买: 1.875580
总卖: 1.761650
总量: 3.637230
总差额: 0.113930

000876------200
大买: 0.956152
大卖: 0.978902
大总量: 1.935054
大差额: -0.022750

           日期       总买       总卖       总量      总差额        大买        大卖  \
0  2021-09-07  1.87558  1.76165  3.63723  0.11393  0.956152  0.978902

        大总量      大差额       NaN
0  1.935054 -0.02275  0.102841
F:\gu\total\000876.xlsx
处理：000876.xlsx   9月7日的逐笔成交数据完毕！！！
开始处理：300869   9月6日的逐笔成交数据！
总买: 1.313760
总卖: 1.342620
总量: 2.656380
总差额: -0.028860

300869------52
大买: 0.525617
大卖: 0.582017
大总量: 1.107634
大差额: -0.056400

           日期       总买       总卖       总量      总差额        大买        大卖  \
0  2021-09-06  1.31376  1.34262  2.65638 -0.02886  0.525617  0.582017

        大总量     大差额       NaN
0  1.107634 -0.0564  0.096248
F:\gu\total\300869.xlsx
处理：300869.xlsx   9月6日的逐笔成交数据完毕！！！
开始处理：300869   9月7日的逐笔成交数据！
总买: 0.746490
总卖: 1.076750
总量: 1.823240
总差额: -0.330260

300869------52
大买: 0.239133
大卖: 0.439321
大总量: 0.678454
大差额: -0.200188

           日期       总买       总卖       总量      总差额        大买        大卖  \
0  2021-09-07  0.74649  1.07675  1.82324 -0.33026  0.239133  0.439321

        大总量       大差额       NaN
0  0.678454 -0.200188  0.055824
F:\gu\total\300869.xlsx
处理：300869.xlsx   9月7日的逐笔成交数据完毕！！！
开始处理：300869   9月8日的逐笔成交数据！
总买: 0.839080
总卖: 0.852750
总量: 1.691830
总差额: -0.013670

300869------52
大买: 0.291647
大卖: 0.289416
大总量: 0.581064
大差额: 0.002231

           日期       总买       总卖       总量      总差额        大买        大卖  \
0  2021-09-08  0.83908  0.85275  1.69183 -0.01367  0.291647  0.289416

        大总量       大差额       NaN
0  0.581064  0.002231  0.069881
F:\gu\total\300869.xlsx
处理：300869.xlsx   9月8日的逐笔成交数据完毕！！！
开始处理：300869   9月9日的逐笔成交数据！
总买: 0.750010
总卖: 0.996130
总量: 1.746140
总差额: -0.246120

300869------52
大买: 0.238188
大卖: 0.413408
大总量: 0.651596
大差额: -0.175220

           日期       总买       总卖       总量      总差额        大买        大卖  \
0  2021-09-09  0.75001  0.99613  1.74614 -0.24612  0.238188  0.413408

        大总量      大差额       NaN
0  0.651596 -0.17522  0.058003
F:\gu\total\300869.xlsx
处理：300869.xlsx   9月9日的逐笔成交数据完毕！！！
开始处理：600031   9月3日的逐笔成交数据！
总买: 24.864030
总卖: 27.972660
总量: 52.836690
总差额: -3.108630

600031------70
大买: 24.411650
大卖: 27.511810
大总量: 51.923461
大差额: -3.100160

           日期        总买        总卖        总量      总差额        大买        大卖  \
0  2021-09-03  24.86403  27.97266  52.83669 -3.10863  24.41165  27.51181

         大总量      大差额       NaN
0  51.923461 -3.10016  1.846719
F:\gu\total\600031.xlsx
处理：600031.xlsx   9月3日的逐笔成交数据完毕！！！
开始处理：600031   9月6日的逐笔成交数据！
总买: 46.784790
总卖: 35.501000
总量: 82.285790
总差额: 11.283790

600031------70
大买: 46.737439
大卖: 35.461577
大总量: 82.199017
大差额: 11.275862

           日期        总买      总卖        总量       总差额         大买         大卖  \
0  2021-09-06  46.78479  35.501  82.28579  11.28379  46.737439  35.461577

         大总量        大差额       NaN
0  82.199017  11.275862  3.270758
F:\gu\total\600031.xlsx
处理：600031.xlsx   9月6日的逐笔成交数据完毕！！！
开始处理：600031   9月7日的逐笔成交数据！
总买: 25.669740
总卖: 25.478460
总量: 51.148200
总差额: 0.191280

600031------70
大买: 25.380512
大卖: 25.249246
大总量: 50.629759
大差额: 0.131266

           日期        总买        总卖       总量      总差额         大买         大卖  \
0  2021-09-07  25.66974  25.47846  51.1482  0.19128  25.380512  25.249246

         大总量       大差额       NaN
0  50.629759  0.131266  1.693496
F:\gu\total\600031.xlsx
处理：600031.xlsx   9月7日的逐笔成交数据完毕！！！
开始处理：600031   9月8日的逐笔成交数据！
总买: 23.136720
总卖: 28.583800
总量: 51.720520
总差额: -5.447080

600031------70
大买: 22.754881
大卖: 28.221791
大总量: 50.976672
大差额: -5.466910

           日期        总买       总卖        总量      总差额         大买         大卖  \
0  2021-09-08  23.13672  28.5838  51.72052 -5.44708  22.754881  28.221791

         大总量      大差额       NaN
0  50.976672 -5.46691  1.076122
F:\gu\total\600031.xlsx
处理：600031.xlsx   9月8日的逐笔成交数据完毕！！！
开始处理：600031   9月9日的逐笔成交数据！
总买: 19.916560
总卖: 19.431280
总量: 39.347840
总差额: 0.485280

600031------70
大买: 19.378855
大卖: 18.933176
大总量: 38.312031
大差额: 0.445678

           日期        总买        总卖        总量      总差额         大买         大卖  \
0  2021-09-09  19.91656  19.43128  39.34784  0.48528  19.378855  18.933176

         大总量       大差额       NaN
0  38.312031  0.445678  1.117162
F:\gu\total\600031.xlsx
处理：600031.xlsx   9月9日的逐笔成交数据完毕！！！
开始处理：600737   9月3日的逐笔成交数据！
总买: 1.974170
总卖: 1.734980
总量: 3.709150
总差额: 0.239190

600737------200
大买: 1.567278
大卖: 1.371981
大总量: 2.939260
大差额: 0.195297

           日期       总买       总卖       总量      总差额        大买        大卖  \
0  2021-09-03  1.97417  1.73498  3.70915  0.23919  1.567278  1.371981

       大总量       大差额       NaN
0  2.93926  0.195297  0.049193
F:\gu\total\600737.xlsx
处理：600737.xlsx   9月3日的逐笔成交数据完毕！！！
开始处理：600737   9月7日的逐笔成交数据！
总买: 2.591860
总卖: 2.221710
总量: 4.813570
总差额: 0.370150

600737------200
大买: 1.722259
大卖: 1.468741
大总量: 3.191000
大差额: 0.253518

           日期       总买       总卖       总量      总差额        大买        大卖    大总量  \
0  2021-09-07  2.59186  2.22171  4.81357  0.37015  1.722259  1.468741  3.191

        大差额       NaN
0  0.253518  0.153411
F:\gu\total\600737.xlsx
处理：600737.xlsx   9月7日的逐笔成交数据完毕！！！
开始处理：600737   9月8日的逐笔成交数据！
总买: 1.763590
总卖: 1.977800
总量: 3.741390
总差额: -0.214210

600737------200
大买: 1.013239
大卖: 1.199493
大总量: 2.212732
大差额: -0.186254

           日期       总买      总卖       总量      总差额        大买        大卖  \
0  2021-09-08  1.76359  1.9778  3.74139 -0.21421  1.013239  1.199493

        大总量       大差额       NaN
0  2.212732 -0.186254  0.055944
F:\gu\total\600737.xlsx
处理：600737.xlsx   9月8日的逐笔成交数据完毕！！！
开始处理：600737   9月9日的逐笔成交数据！
总买: 2.103480
总卖: 1.848040
总量: 3.951520
总差额: 0.255440

600737------200
大买: 1.410210
大卖: 1.083511
大总量: 2.493721
大差额: 0.326699

           日期       总买       总卖       总量      总差额       大买        大卖  \
0  2021-09-09  2.10348  1.84804  3.95152  0.25544  1.41021  1.083511

        大总量       大差额       NaN
0  2.493721  0.326699  0.071342
F:\gu\total\600737.xlsx
处理：600737.xlsx   9月9日的逐笔成交数据完毕！！！
开始处理：601995   9月6日的逐笔成交数据！
总买: 11.654770
总卖: 9.128790
总量: 20.783560
总差额: 2.525980

601995------34
大买: 10.707049
大卖: 8.192954
大总量: 18.900002
大差额: 2.514095

           日期        总买       总卖        总量      总差额         大买        大卖  \
0  2021-09-06  11.65477  9.12879  20.78356  2.52598  10.707049  8.192954

         大总量       大差额       NaN
0  18.900002  2.514095  0.637453
F:\gu\total\601995.xlsx
处理：601995.xlsx   9月6日的逐笔成交数据完毕！！！
开始处理：601995   9月7日的逐笔成交数据！
总买: 9.006210
总卖: 8.620910
总量: 17.627120
总差额: 0.385300

601995------34
大买: 7.928060
大卖: 7.736499
大总量: 15.664559
大差额: 0.191561

           日期       总买       总卖        总量     总差额       大买        大卖  \
0  2021-09-07  9.00621  8.62091  17.62712  0.3853  7.92806  7.736499

         大总量       大差额       NaN
0  15.664559  0.191561  0.589494
F:\gu\total\601995.xlsx
处理：601995.xlsx   9月7日的逐笔成交数据完毕！！！
开始处理：601995   9月8日的逐笔成交数据！
总买: 7.354490
总卖: 8.106120
总量: 15.460610
总差额: -0.751630

601995------34
大买: 6.412558
大卖: 7.141818
大总量: 13.554376
大差额: -0.729259

           日期       总买       总卖        总量      总差额        大买        大卖  \
0  2021-09-08  7.35449  8.10612  15.46061 -0.75163  6.412558  7.141818

         大总量       大差额       NaN
0  13.554376 -0.729259  0.520784
F:\gu\total\601995.xlsx
处理：601995.xlsx   9月8日的逐笔成交数据完毕！！！
开始处理：601995   9月9日的逐笔成交数据！
总买: 5.307750
总卖: 5.051110
总量: 10.358860
总差额: 0.256640

601995------34
大买: 4.315741
大卖: 3.988055
大总量: 8.303797
大差额: 0.327686

           日期       总买       总卖        总量      总差额        大买        大卖  \
0  2021-09-09  5.30775  5.05111  10.35886  0.25664  4.315741  3.988055

        大总量       大差额       NaN
0  8.303797  0.327686  0.327475
F:\gu\total\601995.xlsx
处理：601995.xlsx   9月9日的逐笔成交数据完毕！！！
开始处理：603185   9月9日的逐笔成交数据！
总买: 8.232190
总卖: 10.242980
总量: 18.475170
总差额: -2.010790

603185------7
大买: 7.301953
大卖: 9.178197
大总量: 16.480150
大差额: -1.876245

           日期       总买        总卖        总量      总差额        大买        大卖  \
0  2021-09-09  8.23219  10.24298  18.47517 -2.01079  7.301953  9.178197

        大总量       大差额      NaN
0  16.48015 -1.876245  0.24476
F:\gu\total\603185.xlsx
处理：603185.xlsx   9月9日的逐笔成交数据完毕！！！

In [98]:
datas=pd.read_excel(r'F:\gu\20210903\xy.xlsx',sheet_name=0,names=['time','price','num','other','type'],parse_dates=[0])
row,col=datas.shape
datas=datas[3:row-1]
big=(datas[datas['num']>=70])
big_buy=big[big['type']=='S']
big_sale=big[big['type']=='B']
buy_total=big_buy['price']*big_buy['num']
big_buy.insert(5,'total',buy_total)
sale_total=big_sale['price']*big_sale['num']
big_sale.insert(5,'total',sale_total)
print('大买单： %s      \n大买单： %s' %(str(big_buy['total'].sum()/1000000) ,str(big_sale['total'].sum()/1000000)))
distance_volumn=(big_buy['total'].sum())-(big_sale['total'].sum())
print('大单的差量为：%f 亿'  %(distance_volumn/1000000))

大买单： 1.6483783099999991
大买单： 1.8863967300000017
-0.23801842000000273
大单的差量为：-0.238018 亿

In [154]:
os.path.join("F:\\gu\\total\\","33.xls")
for a,b,c in os.walk(r'F:\gu\202109\transform'):
    for i in c:
        print(i)
        file_name=i[0:5]
        month=int(i[6:8])
        day=int(i[8:10])
        print(file_name,'----',month,'----',day)

0003330907.xlsx
00033 ---- 9 ---- 7
0003330908.xlsx
00033 ---- 9 ---- 8
0003330909.xlsx
00033 ---- 9 ---- 9
0008760907.xlsx
00087 ---- 9 ---- 7
3008690906.xlsx
30086 ---- 9 ---- 6
3008690907.xlsx
30086 ---- 9 ---- 7
3008690908.xlsx
30086 ---- 9 ---- 8
3008690909.xlsx
30086 ---- 9 ---- 9
6000310903.xlsx
60003 ---- 9 ---- 3
6000310906.xlsx
60003 ---- 9 ---- 6
6000310907.xlsx
60003 ---- 9 ---- 7
6000310908.xlsx
60003 ---- 9 ---- 8
6000310909.xlsx
60003 ---- 9 ---- 9
6007370903.xlsx
60073 ---- 9 ---- 3
6007370907.xlsx
60073 ---- 9 ---- 7
6007370908.xlsx
60073 ---- 9 ---- 8
6007370909.xlsx
60073 ---- 9 ---- 9
6019950906.xlsx
60199 ---- 9 ---- 6
6019950907.xlsx
60199 ---- 9 ---- 7
6019950908.xlsx
60199 ---- 9 ---- 8
6019950909.xlsx
60199 ---- 9 ---- 9
6031850909.xlsx
60318 ---- 9 ---- 9

In [110]:
temp=pd.read_excel(r'F:\gu\202109\transform\6000310909.xlsx',sheet_name=0,names=['time','price','num','other','type'],parse_dates=[0])
row,col=temp.shape
temp=temp[3:row-1]
temp_S=temp[temp['type']=='S']
temp_B=temp[temp['type']=='B']

In [113]:
temp_S['total']=temp_S['price']*temp_S['num']
temp_B['total']=temp_B['price']*temp_B['num']
temp_S_total=temp_S['total'].sum()/1000000
temp_B_total=temp_B['total'].sum()/1000000

<ipython-input-113-d2b77ad9e584>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_S['total']=temp_S['price']*temp_S['num']
<ipython-input-113-d2b77ad9e584>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_B['total']=temp_B['price']*temp_B['num']

In [171]:
not os.path.exists('F:\\gu\\total\\000333.xlsx')

True

In [155]:
param={'600031':70,'000333':28,'603185':7,'601995':34,'600737':200}

In [156]:
param['600031']

70

In [131]:
temp_null=temp[temp['type'].isna()]
temp_null

          time  price    num other type
3     09:25:00  28.09   8810     0  NaN
52    09:32:00  28.18    219     0  NaN
71    09:33:00  28.41    350     0  NaN
97    09:34:00  28.55    497     0  NaN
135   09:36:00   28.7    794     0  NaN
...        ...    ...    ...   ...  ...
4248  14:32:00  28.29    357     0  NaN
4371  14:38:00  28.22    103     0  NaN
4407  14:40:00  28.25    135     0  NaN
4457  14:42:00  28.27     86     0  NaN
4745  15:00:00  28.29  14034     0  NaN

[102 rows x 5 columns]

In [133]:
temp_null['total']=temp_null['price']*temp_null['num']
total=temp_null['total'].sum()/1000000
total

<ipython-input-133-54317fcaa8a8>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_null['total']=temp_null['price']*temp_null['num']

1.36463498

In [71]:
import numpy as np
df = pd.DataFrame(np.random.randint(1,10,(4,5)),columns=["A","B","C","D","E"])
print(df)
df['F']=0
for i in range(df.shape[0]):
    df['F']=df['A']*df['B']
print(df)

   A  B  C  D  E
0  4  6  5  9  6
1  8  1  7  7  9
2  2  4  3  6  3
3  8  1  1  5  9
   A  B  C  D  E   F
0  4  6  5  9  6  24
1  8  1  7  7  9   8
2  2  4  3  6  3   8
3  8  1  1  5  9   8